<!--BEGIN: Side navigation bar-->
<div id="sidebar-wrapper">
    <div style="height:20px;">&nbsp;</div>
    <!-- BEGIN: Coordinator Nav -->
    <ul class="sidebar-nav" id="mnugrpCoordinator">
        <!--
        <span id="mnupermitsli">
        <li>
            <a ui-sref="permits" id="mnupermits">
                <i class="fa fa-clipboard fa-2x"></i>
                <p style="left:15px;">PERMITS</p>
            </a>
        </li>
        </span>
        <span id="mnuprojectsli">
        <div style="height:35px;">&nbsp;</div>
        <li>
            <a ui-sref="projects" id="mnuprojects">
                <i class="fa fa-archive fa-2x"></i>
                <p style="left:10px;">PROJECTS</p>
            </a>
        </li> 
        </span>-->
    </ul>
    <!-- END: Coordinator Nav -->
</div>
<!--END: Side navigation bar-->
    